@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
.example-fill-remaining-space {
    display: flex;
    flex: 1 1 auto;
}

.undecorated {
    list-style-type: none;
}

.skill-button-left {
    margin-right: 0px !important;
    margin-left: 0px !important;
    box-shadow: unset !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    float: left;
}

.logo {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}

div.timeline-item mat-grid-list {
    padding-bottom: 25% !important;
}

mat-grid-tile.personal-header .mat-figure {
    justify-content: unset !important;
    display: block !important;
}

mat-grid-list.personal-card {
    padding-bottom: 25% !important;
}

mat-grid-tile.personal-content {
    margin-top: unset !important;
}
mat-grid-tile.personal-content-image {
    margin-top: unset !important;
    padding-top: 25% !important;
}


mat-grid-tile.timeline-header .mat-figure {
    justify-content: unset !important;
    display: block !important;
}

mat-grid-tile.timeline-content {
    margin-top: unset !important;
}

.timeline-header .mat-figure h4{
    margin:0;
}

.summary-container {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.clear {
    clear: both;
}

.summary {
    word-break: normal;
    overflow-wrap: break-word;
    text-align: justify;
}

.social-align {
    position: absolute;
    text-align: left;
}

.skill-button-right {
    margin-right: 0px !important;
    margin-left: 0px !important;
    box-shadow: unset !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.skill-container {
    display: inline-block;
    margin-bottom: 0.5em;
}

.example-container {
    width: 100%;
}

.newline {
    display: block;
}

.fit-container {
    width: 100%;
    height: 100%;
}

.field-container {
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-left-sidenav {
    padding: 20px;
    width: 75%;
}

.example-right-sidenav {
    padding: 20px;
    width: 50%;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: right;
}

.timeline-container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

$border-color: rgba(black, .3);
.timeline-item {
    padding: 3em 2em 2em;
    position: relative;
    color: rgba(black, .7);
    border-left: 2px solid $border-color;
    p {
        font-size: 1rem;
    }
    &::before {
        content: attr(title);
        position: absolute;
        left: 2em;
        font-weight: bold;
        top: 1em;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: .785rem;
    }
    &::after {
        width: 10px;
        height: 10px;
        display: block;
        top: 1em;
        position: absolute;
        left: -7px;
        border-radius: 10px;
        content: '';
        border: 2px solid $border-color;
        background: white;
    }
    &:last-child {
        border-image: linear-gradient( to bottom, $border-color 60%, rgba($border-color, 0)) 1 100%;
    }
}