<h1 mat-dialog-title>About CV.json</h1>
<mat-dialog-content>
  <p>About message</p>
  <mat-card>
    <div mat-card-avatar class="example-header-image">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        </div>
  </mat-card>
  <p>Angular, Angular Material, MongoDB, Typescript, Express, Node, </p>
  <p>Link to license</p>
  <p>
    <span>
      <a mat-fab color="primary" matTooltip="LinkedIn profile">
        <i class="socicon socicon-linkedin"></i>
      </a>
    </span>
    <span>
      <a mat-fab color="primary" matTooltip="Email the developer" href="mailto:darksoul.uci@gmail.com">
        <i class="socicon socicon-mail"></i>
      </a>
    </span>
    <span>
      <a mat-fab color="primary" matTooltip="See the code of this app on Github" href="https://github.com/jorgeamadosoria/AngCV">
        <i class="socicon socicon-github"></i>
      </a>
    </span>
  </p>
  <p>Contact info para Javi y yo</p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button color="primary" type="button" (click)="close()">Close</button>
</mat-dialog-actions>
