<h1 mat-dialog-title>About CV.json v1.0.0</h1>
<mat-dialog-content>
  <p>Proof of Concept application for the MEANT stack, with Mongoose and Passport. The goal is to be able to publish an up to
    date CV to interested parties. It is a multi-user SPA with simple management options and a public view to share with
    the public. The code is freely available on Github, but it is not recommended for scaffolding or basing another application
    on this.
  </p>
  <mat-card>
    <mat-card-content>
      <a target="blank" alt="MongoDB" href="https://www.mongodb.com/"><img class="logo" src="/assets/tech/mongodb.png"></a>&nbsp;&nbsp;
      <a target="blank" alt="Express.js" href="https://expressjs.com/"><img class="logo" src="/assets/tech/express.png"></a>&nbsp;&nbsp;
      <a target="blank" alt="Mongoose" href="http://mongoosejs.com/"><img class="logo" src="/assets/tech/mongoose.png"></a>&nbsp;&nbsp;
      <a target="blank" alt="Angular" href="https://angular.io/"><img class="logo" src="/assets/tech/angular.png"></a>&nbsp;&nbsp;
      <a target="blank" alt="Angular Material" href="https://material.angular.io/"><img class="logo" src="/assets/tech/material.png"></a> &nbsp;&nbsp;
      <a target="blank" alt="Node.js" href="https://nodejs.org/en/"><img class="logo" src="/assets/tech/nodejs.png"></a>&nbsp;&nbsp;
      <a target="blank" alt="Typescript" href="https://www.typescriptlang.org/"><img class="logo" src="/assets/tech/TypeScript.png"></a>&nbsp;&nbsp;
      <a target="blank" alt="Passport.js" href="http://www.passportjs.org/"><img class="logo" src="/assets/tech/passport.png"></a>
    </mat-card-content>
  </mat-card>
  <p><a target="blank" href = "https://www.gnu.org/licenses/gpl-3.0.en.html">Released under GPLv3</a></p>
  <p>
    <span>
      <a target="blank" mat-fab color="primary" href="http://www.linkedin.com/in/jorge-soria-98323122" matTooltip="LinkedIn profile">
        <i class="socicon socicon-linkedin"></i>
      </a>
    </span>
    <span>
      <a target="blank" mat-fab color="primary" matTooltip="Email the developer" href="mailto:darksoul.uci@gmail.com">
        <i class="socicon socicon-mail"></i>
      </a>
    </span>
    <span>
      <a target="blank" mat-fab color="primary" matTooltip="See the code of this app on Github" href="https://github.com/jorgeamadosoria/AngCV">
        <i class="socicon socicon-github"></i>
      </a>
    </span>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-raised-button color="primary" type="button" (click)="close()">Close</button>
</mat-dialog-actions>
