<mat-drawer-container class="example-container">
    <mat-drawer #formDrawer class="example-left-sidenav" mode="over">
        <form [formGroup]="form" novalidate (ngSubmit)="formDrawer.toggle() && save(form.value)">
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>My name, email, phone and other info to find me</span>
                            <mat-icon class="mat-primary">account_circle</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formGroupName="personal">
                        <mat-card>
                            <mat-grid-list cols="2" rowHeight="5em">
                                <mat-grid-tile rowspan="3">
                                    <img class="card-media" mat-image-avatar src="{{fullCv.personal.picture}}">
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput formControlName="name" name="name" placeholder="name">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput formControlName="label" name="label" placeholder="label">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput formControlName="email" name="email" placeholder="email">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="field-container">
                                        <input matInput formControlName="picture" (change)="onChangePic($event)" name="picture" placeholder="picture url">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field>
                                        <input matInput formControlName="phone" name="phone" placeholder="phone">
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                            <mat-grid-list cols="3" rowHeight="10em">
                                <mat-grid-tile colspan="3">
                                    <mat-form-field class="field-container">
                                        <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-card>
                        <br>
                        <mat-card formGroupName="location">
                            <mat-grid-list cols="4" rowHeight="5em">
                                <mat-grid-tile>
                                    <mat-form-field class="field-container">
                                        <input matInput formControlName="address" name="address" placeholder="address">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="field-container">
                                        <input matInput formControlName="city" name="city" placeholder="city">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="field-container">
                                        <input matInput formControlName="region" name="region" placeholder="region">
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-form-field class="field-container">
                                        <mat-select formControlName="country" placeholder="country" name="country">
                                            <mat-option *ngFor="let country of countries" [value]="country.name">
                                                <img src="./assets/countries/{{country.code | lowercase }}.svg" width="20em"> {{ country.name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </mat-card>
                        <br>
                        <span formArrayName="social">
              <mat-card *ngFor="let soc of form.controls.personal.controls.social.controls;let i=index">
                <mat-grid-list [formGroupName]="i" cols="3" rowHeight="5em">
                  <mat-grid-tile>
                    <mat-form-field>
                      <mat-select formControlName="network" placeholder="network" name="network">
                        <mat-option *ngFor="let net of socialKeys" [value]="net">
                          {{ net }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="2">
                    <mat-form-field class="field-container">
                      <input matInput formControlName="url" name="url" placeholder="url">
                    </mat-form-field>
                    <button mat-icon-button color="warn" (click)="removeSocial(i)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                  </mat-grid-tile>
                </mat-grid-list>
              </mat-card>
              <mat-card>
                <button type="button" color="primary" mat-button (click)="addSocial()">
                  <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
                </button>
              </mat-card>
            </span>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Skills
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Tools I know and how good I am with them</span>
                            <mat-icon class="mat-primary">build</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="skills">
                        <div *ngFor="let skill of form.controls.skills.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="name" placeholder="Name">
                                            <mat-error *ngIf="!form.controls.skills.controls[i].controls.name.valid">
                                                Name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <mat-select formControlName="level" placeholder="level" name="level">
                                                <mat-option *ngFor="let lvl of skillLevels" [value]="lvl">
                                                    {{ lvl }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="!form.controls.skills.controls[i].controls.level.valid">
                                                Level is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="10em">
                                    <mat-grid-tile colspan="4">
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="tag" placeholder="Tags">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-button color="warn" (click)="removeSkill(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addSkill()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>

                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Accolades
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Awards, certifications or diplomas some people felt I´ve earned</span>
                            <mat-icon class="mat-primary">bookmark</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="accolades">
                        <div *ngFor="let accolade of form.controls.accolades.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="name" placeholder="name">
                                            <mat-error *ngIf="!form.controls.accolades.controls[i].controls.name.valid">
                                                Name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput [matDatepicker]="datePicker" (focus)="datePicker.open()" formControlName="date" placeholder="date">
                                            <mat-error *ngIf="!form.controls.accolades.controls[i].controls.date.valid">
                                                Date is required
                                            </mat-error>
                                            <mat-datepicker #datePicker></mat-datepicker>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="from" placeholder="From">
                                            <mat-error *ngIf="!form.controls.accolades.controls[i].controls.from.valid">
                                                From is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="link" placeholder="link">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="10em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="tag" placeholder="Tags">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeAccolade(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addAccolade()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            References
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>People that can vouch for me</span>
                            <mat-icon class="mat-primary">group</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="references">
                        <div *ngFor="let reference of form.controls.references.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="name" placeholder="Name">
                                            <mat-error *ngIf="!form.controls.references.controls[i].controls.name.valid">
                                                Name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="position" placeholder="Position">
                                            <mat-error *ngIf="!form.controls.references.controls[i].controls.position.valid">
                                                Position is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="mail" placeholder="Mail">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="phone" placeholder="Phone">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeReference(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addReference()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Work
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Places I have worked at</span>
                            <mat-icon class="mat-primary">business center</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="work">
                        <div *ngFor="let work of form.controls.work.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="logo" placeholder="Logo">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="company" placeholder="Company">
                                            <mat-error *ngIf="!form.controls.work.controls[i].controls.company.valid">
                                                Company is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="website" placeholder="Website">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="position" placeholder="Position">
                                            <mat-error *ngIf="!form.controls.work.controls[i].controls.position.valid">
                                                Position is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput [matDatepicker]="startDatePicker" (focus)="startDatePicker.open()" formControlName="startDate" placeholder="Start Date">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="endDate" [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="endDate" placeholder="End Date">
                                        </mat-form-field>
                                        <mat-datepicker #endDatePicker></mat-datepicker>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="10em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="tag" placeholder="Tags">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeWork(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addWork()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Volunteering
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Pro bono work or community stuff done for love or lolz</span>
                            <mat-icon class="mat-primary">favorite</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="volunteer">
                        <div *ngFor="let volunteer of form.controls.volunteer.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="logo" placeholder="Logo">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="organization" placeholder="Organization">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="website" placeholder="Website">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="position" placeholder="Position">
                                            <mat-error *ngIf="!form.controls.work.controls[i].controls.position.valid">
                                                Position is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput [matDatepicker]="startDatePicker" (focus)="startDatePicker.open()" formControlName="startDate" placeholder="Start Date">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="endDate" [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="endDate" placeholder="End Date">
                                        </mat-form-field>
                                        <mat-datepicker #endDatePicker></mat-datepicker>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="10em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="tag" placeholder="Tags">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeVolunteer(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addVolunteer()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Education
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Places I have studied at</span>
                            <mat-icon class="mat-primary">school</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="education">
                        <div *ngFor="let education of form.controls.education.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="logo" placeholder="Logo">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="institution" placeholder="Institution">
                                            <mat-error *ngIf="!form.controls.education.controls[i].controls.institution.valid">
                                                Institution is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="website" placeholder="Website">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="career" placeholder="Career">
                                            <mat-error *ngIf="!form.controls.education.controls[i].controls.career.valid">
                                                Career is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput [matDatepicker]="startDatePicker" (focus)="startDatePicker.open()" formControlName="startDate" placeholder="Start Date">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-datepicker #startDatePicker></mat-datepicker>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="endDate" [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="endDate" placeholder="End Date">
                                        </mat-form-field>
                                        <mat-datepicker #endDatePicker></mat-datepicker>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="10em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeEducation(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addEducation()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Publications
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Articles, blogs, books or other written works I´ve put out there</span>
                            <mat-icon class="mat-primary">chrome_reader_mode</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="publications">
                        <div *ngFor="let publication of form.controls.publications.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="name" placeholder="Name">
                                            <mat-error *ngIf="!form.controls.publications.controls[i].controls.name.valid">
                                                Name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="website" placeholder="Website">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="publisher" placeholder="Publisher">
                                            <mat-error *ngIf="!form.controls.publications.controls[i].controls.publisher.valid">
                                                Publisher is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="date" [matDatepicker]="datePicker" (focus)="datePicker.open()" formControlName="date" placeholder="Date">
                                            <mat-datepicker #datePicker></mat-datepicker>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="10em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="tag" placeholder="Tags">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removePublication(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addPublication()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Events
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Conferences or other gatherings I´ve attended or organized</span>
                            <mat-icon class="mat-primary">event</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="events">
                        <div *ngFor="let event of form.controls.events.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="3" rowHeight="5em">
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="name" placeholder="Name">
                                            <mat-error *ngIf="!form.controls.events.controls[i].controls.name.valid">
                                                Name is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="publisher" placeholder="Publisher/Organizer">
                                            <mat-error *ngIf="!form.controls.events.controls[i].controls.publisher.valid">
                                                Publisher/Organizer is required
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="website" placeholder="Website">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput [matDatepicker]="startDatePicker" (focus)="startDatePicker.open()" formControlName="startDate" placeholder="Start Date">
                                            <mat-error *ngIf="!form.controls.events.controls[i].controls.startDate.valid">
                                                Start Date is required
                                            </mat-error>
                                            <mat-datepicker #startDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="endDate" [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="endDate" placeholder="End Date">
                                            <mat-error *ngIf="!form.controls.events.controls[i].controls.endDate.valid">
                                                End Date is required
                                            </mat-error>
                                            <mat-datepicker #endDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="1" rowHeight="10em">
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <textarea maxlength="450" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" matInput formControlName="summary" name="summary" placeholder="summary"></textarea>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                </mat-grid-list>
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="3">
                                        <mat-form-field class="field-container">
                                            <input matInput formControlName="tag" placeholder="Tags">
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeEvent(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                    </div>
                    <button type="button" color="primary" mat-button (click)="addEvent()">
            <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
          </button>
                </mat-expansion-panel>
                <mat-expansion-panel hideToggle="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Languages
                        </mat-panel-title>
                        <mat-panel-description>
                            <span>Languages I handle and how well I do it</span>
                            <mat-icon class="mat-primary">translate</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div formArrayName="languages">
                        <div *ngFor="let language of form.controls.languages.controls; let i=index">
                            <mat-card [formGroupName]="i">
                                <mat-grid-list cols="4" rowHeight="5em">
                                    <mat-grid-tile colspan="2">
                                        <mat-form-field class="field-container">
                                            <mat-select formControlName="language" placeholder="language" name="language">
                                                <mat-option *ngFor="let lvl of languages" [value]="lvl">
                                                    {{ lvl }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <mat-form-field class="field-container">
                                            <mat-select formControlName="level" placeholder="level" name="level">
                                                <mat-option *ngFor="let lvl of languageLevels" [value]="lvl">
                                                    {{ lvl }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </mat-grid-tile>
                                    <mat-grid-tile>
                                        <button mat-icon-button color="warn" (click)="removeLanguage(i)">
                      Remove
                      <mat-icon>remove_circle</mat-icon>
                    </button>
                                    </mat-grid-tile>
                                </mat-grid-list>
                            </mat-card>
                            <br>
                        </div>
                        <button type="button" color="primary" mat-button (click)="addLanguage()">
              <mat-icon>add_circle</mat-icon>&nbsp;&nbsp;Add
            </button>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <mat-toolbar>
                <span class="example-fill-remaining-space"></span>
                <button type="submit" color="primary" mat-raised-button>
          Save
        </button>
            </mat-toolbar>
        </form>
    </mat-drawer>
    <mat-drawer #filterDrawer class="example-right-sidenav" mode="over" position="end">
        <form [formGroup]="filterForm" novalidate (ngSubmit)="filterDrawer.toggle() && filter(filterForm.value)">
            <div>
                <div>
                    <label>Date interval</label>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput [matDatepicker]="startDatePicker" (focus)="startDatePicker.open()" formControlName="startDate" placeholder="Start Date">
                    </mat-form-field>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                    <mat-form-field>
                        <input matInput [matDatepicker]="endDatePicker" (focus)="endDatePicker.open()" formControlName="endDate" placeholder="End Date">
                    </mat-form-field>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </div>
            </div>
            <div formArrayName="tags">
                <div>
                    <label>Tags</label>
                </div>
                <div>
                    <mat-grid-list cols="3" rowHeight="2em">
                        <mat-grid-tile *ngFor="let tag of filterForm.controls.tags.controls; let i=index">
                            <mat-checkbox matInput formControlName="{{i}}" name="tag" placeholder="tag">
                                {{appliedFilter.tags[i]}}&nbsp;&nbsp;
                            </mat-checkbox>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
            </div>
            <div>
                <button type="submit" color="primary" mat-raised-button>
          Filter
        </button>
            </div>
        </form>
    </mat-drawer>
    <mat-toolbar color="primary">
        <svg class="app-logo" version="1.0" xmlns="http://www.w3.org/2000/svg" width="313.000000pt" height="359.000000pt" viewBox="0 0 313.000000 359.000000" preserveAspectRatio="xMidYMid meet">
         <metadata>
         Created by potrace 1.15, written by Peter Selinger 2001-2017
         </metadata>
         <g transform="translate(0.000000,359.000000) scale(0.100000,-0.100000)"
         fill="#000000" stroke="none">
         <path d="M1518 3584 c-10 -3 -18 -9 -18 -14 0 -4 -11 -11 -25 -14 -14 -4 -25
         -11 -25 -16 0 -6 -6 -10 -14 -10 -8 0 -16 -3 -18 -7 -1 -5 -25 -19 -53 -33
         -27 -14 -52 -27 -55 -30 -10 -10 -45 -31 -62 -36 -10 -4 -18 -10 -18 -15 0 -5
         -8 -9 -19 -9 -10 0 -30 -11 -44 -24 -14 -13 -40 -27 -57 -31 -16 -4 -30 -10
         -30 -14 0 -3 -17 -15 -37 -26 -21 -11 -40 -22 -43 -25 -3 -3 -21 -13 -40 -23
         -68 -36 -95 -52 -108 -64 -7 -7 -20 -13 -28 -13 -8 0 -14 -4 -14 -9 0 -5 -10
         -11 -23 -15 -12 -3 -32 -14 -44 -25 -12 -11 -33 -23 -47 -27 -14 -3 -26 -10
         -26 -14 0 -4 -11 -11 -25 -14 -14 -4 -25 -11 -25 -16 0 -6 -6 -10 -14 -10 -8
         0 -16 -3 -18 -7 -1 -5 -25 -19 -53 -33 -27 -14 -52 -27 -55 -30 -10 -10 -45
         -31 -62 -36 -10 -4 -18 -10 -18 -15 0 -5 -8 -9 -19 -9 -10 0 -30 -11 -44 -24
         -14 -13 -40 -27 -57 -31 -16 -4 -30 -10 -30 -14 0 -4 -18 -16 -40 -27 -22 -10
         -40 -22 -40 -25 0 -4 -11 -10 -25 -13 -14 -4 -25 -10 -25 -15 0 -5 -13 -12
         -30 -16 -16 -4 -30 -11 -30 -16 0 -5 -5 -9 -11 -9 -7 0 -20 -10 -30 -22 -18
         -20 -19 -56 -19 -902 0 -485 3 -891 6 -903 4 -13 13 -23 20 -23 8 0 14 -4 14
         -10 0 -5 6 -10 14 -10 8 0 21 -6 28 -13 7 -7 34 -23 60 -35 25 -12 49 -26 53
         -32 3 -5 15 -10 26 -10 10 0 19 -4 19 -10 0 -5 7 -10 15 -10 8 0 15 -4 15 -10
         0 -5 11 -12 25 -16 14 -3 25 -10 25 -14 0 -4 12 -11 27 -15 15 -3 34 -14 42
         -24 9 -10 27 -22 41 -26 13 -4 30 -14 38 -21 7 -8 20 -14 28 -14 8 0 14 -4 14
         -10 0 -5 7 -10 15 -10 8 0 15 -3 15 -7 0 -5 25 -19 55 -33 30 -14 55 -28 55
         -32 0 -5 7 -8 15 -8 8 0 15 -4 15 -10 0 -5 11 -12 25 -16 14 -3 25 -10 25 -14
         0 -5 14 -11 30 -15 17 -4 30 -10 30 -14 0 -4 28 -23 63 -41 34 -18 64 -35 67
         -39 3 -4 22 -15 42 -24 20 -10 40 -22 43 -26 3 -5 19 -12 35 -16 17 -4 30 -11
         30 -16 0 -5 7 -9 15 -9 8 0 15 -4 15 -9 0 -5 10 -13 23 -17 12 -4 24 -9 27
         -13 3 -3 20 -14 38 -23 81 -44 97 -54 110 -65 7 -7 20 -13 28 -13 8 0 14 -4
         14 -10 0 -5 7 -10 15 -10 8 0 15 -4 15 -9 0 -5 11 -12 25 -15 14 -4 25 -10 25
         -15 0 -5 14 -12 30 -16 17 -4 30 -11 30 -16 0 -5 6 -9 14 -9 7 0 19 -7 26 -15
         7 -8 23 -15 36 -15 28 0 104 31 104 42 0 5 6 8 14 8 8 0 21 6 28 13 7 6 31 21
         53 32 22 11 46 26 53 32 7 7 20 13 28 13 8 0 14 4 14 9 0 5 10 11 23 15 12 3
         32 14 43 24 11 11 31 23 44 27 13 4 30 14 38 21 7 8 20 14 28 14 8 0 14 5 14
         10 0 6 7 10 15 10 8 0 15 4 15 9 0 5 11 12 25 15 14 4 25 10 25 15 0 5 14 12
         30 16 17 4 30 11 30 16 0 5 7 9 15 9 8 0 15 4 15 10 0 5 11 12 25 16 14 3 25
         10 25 15 0 5 8 9 18 9 9 0 29 11 44 25 15 14 33 25 41 25 8 0 25 8 38 18 13
         10 39 25 57 33 17 8 32 17 32 21 0 5 6 8 14 8 8 0 21 6 28 14 8 7 25 17 38 21
         13 4 33 16 44 27 11 10 31 21 43 24 13 4 23 10 23 14 0 4 11 11 25 14 14 4 25
         11 25 16 0 6 7 10 15 10 8 0 15 4 15 9 0 5 14 12 30 16 17 4 30 11 30 16 0 5
         11 11 25 15 14 3 25 10 25 15 0 5 7 9 15 9 8 0 15 4 15 9 0 5 11 12 25 15 14
         4 25 10 25 15 0 5 14 12 30 16 17 4 30 11 30 16 0 5 7 9 15 9 8 0 15 4 15 8 0
         5 20 17 45 28 l45 18 0 913 c0 626 -3 913 -10 913 -6 0 -21 9 -33 20 -12 12
         -32 23 -44 26 -13 4 -23 10 -23 15 0 5 -6 9 -14 9 -8 0 -21 6 -28 13 -7 7 -34
         23 -60 35 -25 12 -49 26 -53 32 -3 5 -15 10 -26 10 -10 0 -19 5 -19 10 0 6 -7
         10 -15 10 -8 0 -15 4 -15 9 0 5 -10 13 -22 17 -13 4 -25 9 -28 13 -3 3 -20 14
         -38 24 -81 43 -97 53 -110 65 -7 6 -20 12 -28 12 -8 0 -14 5 -14 10 0 6 -6 10
         -14 10 -8 0 -16 3 -18 8 -1 4 -25 18 -53 32 -27 14 -52 27 -55 30 -10 10 -45
         31 -62 36 -10 4 -18 10 -18 14 0 4 -12 11 -27 15 -15 3 -40 17 -56 31 -16 13
         -37 24 -47 24 -10 0 -20 7 -24 15 -3 8 -12 15 -21 15 -8 0 -15 5 -15 10 0 6
         -9 10 -20 10 -11 0 -20 5 -20 10 0 6 -6 10 -14 10 -7 0 -19 6 -25 14 -7 8 -26
         18 -42 21 -16 4 -29 10 -29 14 0 4 -17 16 -37 27 -21 10 -40 21 -43 24 -3 3
         -20 13 -38 23 -81 43 -97 53 -110 65 -7 6 -20 12 -28 12 -8 0 -14 3 -14 8 0 4
         -14 13 -30 20 -17 8 -37 21 -46 29 -16 16 -94 26 -126 17z m127 -235 c39 -22
         88 -51 110 -63 22 -13 101 -58 175 -101 74 -43 218 -126 320 -185 102 -58 246
         -142 320 -185 74 -43 153 -88 175 -101 22 -12 78 -44 125 -71 l85 -50 0 -798
         0 -799 -80 -46 c-44 -26 -125 -73 -180 -105 -98 -57 -400 -231 -461 -265 -16
         -10 -90 -52 -164 -95 -74 -43 -148 -85 -164 -95 -45 -25 -213 -122 -274 -159
         -29 -17 -56 -31 -60 -31 -4 0 -39 18 -77 41 -39 22 -88 51 -110 63 -22 13
         -100 58 -174 101 -74 42 -149 85 -166 95 -30 17 -171 98 -420 243 -66 38 -191
         110 -277 160 l-158 90 0 798 0 798 28 19 c15 11 117 71 227 134 236 136 446
         257 680 393 323 187 440 254 445 255 3 0 37 -18 75 -41z"/>
         <path d="M1165 2311 c-78 -28 -106 -46 -157 -98 -96 -99 -138 -247 -117 -418
         24 -194 100 -300 259 -363 51 -20 282 -20 335 0 37 14 40 18 43 56 2 23 -1 42
         -6 42 -5 0 -53 -7 -108 -15 -246 -37 -386 61 -411 290 -36 313 164 500 442
         414 74 -22 86 -19 103 31 13 36 6 42 -67 64 -77 23 -250 21 -316 -3z"/>
         <path d="M634 2296 c-30 -14 -63 -39 -80 -61 -28 -37 -29 -42 -34 -189 -3 -93
         -10 -160 -18 -173 -16 -29 -62 -53 -102 -53 -29 0 -30 -2 -30 -44 0 -43 0 -44
         40 -50 23 -4 54 -18 72 -35 l32 -29 6 -153 c3 -85 11 -163 17 -174 32 -56 105
         -100 178 -107 l40 -3 3 43 c3 37 1 42 -17 42 -31 0 -86 29 -101 54 -9 13 -16
         72 -20 166 -5 114 -10 151 -24 172 -20 31 -58 58 -81 58 -27 0 -16 18 22 37
         67 33 76 55 83 215 4 79 12 153 19 166 12 23 49 45 94 56 24 6 27 11 27 46 0
         40 0 40 -37 39 -21 0 -61 -11 -89 -23z"/>
         <path d="M1610 2310 c0 -5 9 -35 21 -67 38 -105 67 -187 97 -273 64 -179 164
         -457 181 -500 17 -44 18 -45 67 -48 l50 -3 67 188 c38 103 79 217 92 253 44
         123 107 295 136 373 16 43 29 81 29 83 0 3 -25 4 -57 2 l-56 -3 -24 -65 c-13
         -36 -32 -90 -42 -120 -11 -30 -41 -113 -66 -185 -26 -71 -62 -179 -82 -240
         -52 -164 -47 -159 -70 -75 -12 41 -47 147 -78 235 -31 88 -60 171 -65 185 -19
         59 -90 252 -95 260 -8 13 -105 13 -105 0z"/>
         <path d="M2400 2284 c0 -38 2 -40 49 -57 75 -27 84 -46 90 -214 7 -159 16
         -182 84 -216 39 -19 49 -37 21 -37 -24 0 -72 -38 -88 -68 -9 -18 -15 -77 -18
         -169 -4 -123 -7 -145 -24 -164 -24 -27 -67 -49 -94 -49 -17 0 -20 -6 -20 -40
         l0 -40 41 0 c22 0 64 11 93 25 42 20 58 35 79 74 25 46 27 57 27 181 0 115 3
         137 20 165 19 30 70 55 114 55 12 0 16 10 16 45 0 44 -1 45 -32 45 -42 0 -96
         33 -108 66 -6 14 -10 83 -10 153 0 112 -3 132 -22 171 -29 57 -98 101 -168
         108 l-50 5 0 -39z"/>
         </g>
         </svg> &nbsp;&nbsp;
        <button mat-button type="button" (click)="filterDrawer.close() && formDrawer.toggle()">
      Edit
    </button>
        <button mat-button type="button" (click)="filterDrawer.toggle() && formDrawer.close()">
      Filter
    </button>
        <button mat-button type="button">
      Export
    </button>
        <button mat-button type="button">
      About
    </button>
    </mat-toolbar>
    <br>
    <app-preview [pCv]="cv"></app-preview>
    <br>
    <mat-toolbar color="primary">
    </mat-toolbar>
</mat-drawer-container>