<div class="example-sidenav-content">
    <div id="preview">
        <br>
        <mat-card class="mat-typography">
            <mat-grid-list cols="3" rowHeight="5em">
                <mat-grid-tile rowspan="3"><img class="card-media" mat-image-avatar src="{{ pCv.personal.picture }}"></mat-grid-tile>
                <mat-grid-tile>
                    <p>{{ pCv.personal.name }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    {{ pCv.personal.location.address }}, {{ pCv.personal.location.city }}, {{ pCv.personal.location.postalCode }}, {{ pCv.personal.location.region }}, {{ pCv.personal.location.countryCode | lowercase}}
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <mat-list-item *ngFor="let phone of pCv.personal.phones">
                            <mat-icon matListIcon>smartphone</mat-icon>
                            {{phone}}
                        </mat-list-item>
                    </mat-list>
                </mat-grid-tile>
                <mat-grid-tile> {{ pCv.personal.email }}
                    <mat-icon matListIcon>email</mat-icon>
                </mat-grid-tile>
                <mat-grid-tile>
                    <p>{{ pCv.personal.label }}</p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-card-subtitle>{{ pCv.personal.summary }}</mat-card-subtitle>
                </mat-grid-tile>

            </mat-grid-list>
        </mat-card>
        <br>
        <mat-card>
            <div id="social">
                <div>
                    <span>Social</span>
                </div>
                <ul>
                    <li *ngFor="let social of pCv.personal.social">
                        <img *ngIf="social.network" src="assets/{{social.network}}.png"> 
                        {{social.url}}
                    </li>
                </ul>
            </div>
        </mat-card>
        <div id="skills">
            <div>
                <span>Skills & Expertise</span>
            </div>
            <ul>
                <li *ngFor="let skill of pCv.skills">
                    {{skill.name}} {{skill.level}} {{skill.summary}}
                </li>
            </ul>
        </div>
        <div id="references">
            <div>
                <span>References</span>
            </div>
            <ul>
                <li *ngFor="let reference of pCv.references">
                    {{reference.name}} {{reference.position}} {{reference.mail}} {{reference.phone}}
                </li>
            </ul>
        </div>
        <div id="work">
            <div>
                <span>Work Experience</span>
            </div>
            <ul>
                <li *ngFor="let work of pCv.work">
                    {{work.logo}} {{work.position}} {{work.company}} {{work.summary}} {{work.website}} {{work.startDate}} {{work.endDate}}
                </li>
            </ul>
        </div>
        <div id="education">
            <div>
                <span>Education</span>
            </div>
            <ul>
                <li *ngFor="let education of pCv.education">
                    {{education.career}} {{education.logo}} {{education.summary}} {{education.startDate}} {{education.endDate}} {{education.institution}}
                </li>
            </ul>
        </div>
        <div id="volunteer">
            <div>
                <span>Volunteer</span>
            </div>
            <ul>
                <li *ngFor="let volunteer of pCv.volunteer">
                    {{volunteer.organization}} {{volunteer.position}} {{volunteer.website}} {{volunteer.startDate}} {{volunteer.endDate}} {{volunteer.summary}} {{volunteer.tag}}
                </li>
            </ul>
        </div>
        <div id="publications">
            <div>
                <span>Publications</span>
            </div>
            <ul>
                <li *ngFor="let publications of pCv.publications">
                    {{publications.name}} {{publications.date}} {{publications.publisher}} {{publications.website}} {{publications.summary}} {{publications.tag}}
                </li>
            </ul>
        </div>
        <div id="accolades">
            <div>
                <span>Accolades</span>
            </div>
            <ul>
                <li *ngFor="let accolade of pCv.accolades">
                    {{accolade.name}} {{accolade.from}} {{accolade.date}} {{accolade.link}} {{accolade.summary}} {{accolade.tag}}
                </li>
            </ul>
        </div>
        <div id="events">
            <div>
                <span>Events</span>
            </div>
            <ul>
                <li *ngFor="let event of pCv.events">
                    {{event.name}} {{event.publisher}} {{event.startDate}} {{event.endDate}} {{event.website}} {{event.summary}} {{event.tag}}
                </li>
            </ul>
        </div>
        <div id="languages">
            <div>
                <span>Languages</span>
            </div>
            <ul>
                <li *ngFor="let language of pCv.languages">
                    {{language.language}} {{language.level}}
                </li>
            </ul>
        </div>
    </div>
</div>